@import "../../utils/default.css";

.card {
	padding-left: 5px;
	padding-right: 5px;
}

@media screen and (min-width: 600px) {
	.size{
		
	}
}

.bg {
	border: none;
	padding-left: 5px;
	padding-right: 5px;
	background-color: var(--backgroundColor2);
}
.bg_card {
    color: azure;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--backgroundColor2);
    transition: transform 0.2s ease-out; /* Added transform property for zoom effect */
    height: 100%;
}

.bg_card:hover {
    transform: scale(1.1); /* Zoom in on hover (you can adjust the scale factor as needed) */
} 
.bg_card img {
	height: 200;
	width: 200;
}
.bg_card:hover {
	cursor: pointer;
	/* box-shadow: 2px 2px 2px 2px #a0a0a0;
    */
	background-color: var(--backgroundColor1);
  color: var(--backgroundhighlighing);
	transform: scale(1.1);
}
.text {
	font-size: 10px;
	color: black;
}
