@import "../../utils/default.css";

.header_par{
    background-color: var(--backgroundColor1);

}
.size{
    color: (--textColor1);
}
.logo{
    font-family: fantasy;
   
    font-size: larger;
    font-style: italic;
    font-weight: 400;
    text-shadow: 1px 2px dimgray;
 

}
.drop{
    color: aliceblue!important;
}
.logo_side{
    width: 40%;
}
.color_part{
    /* width: 100%; */
    height: 9vh;
    color: var(--textColor1);
    background-color: var(--backgroundColor1);
}

@media screen and (min-width: 600px) {
.shift_right{
    margin-right: 17rem;
}
.dw{
    width: 100%;
    /* background-color:  #d14242!important; */
}
.spacing{
    margin-left: 14px;
    margin-right: 14px;
    color: var(--textColor1);
}
.spacing:hover{
   
    color: var(--textColor1)!important;
    font-weight: 600;
    text-transform: uppercase;
    color:  var(--backgroundhighlighing)!important;
}
}
@media screen and (max-width: 600px) {
.center{
    display: flex;
    text-align: center;
}
.text_size{
    font-weight: 600;
    text-transform: uppercase;
   color:  var(--backgroundhighlighing);
}
.size{
    height: 40px !important;
    line-height: 40px !important;
    padding: 0 0 0 20px !important;
}
.spacing:hover{
    color: red;
    font-weight: 600;
}

}
