:root {
    /* --backgroundColor1: #212529 ,#343a40 ,#495057, #6c757d ,#adb5bd , #ced4da ,#dee2e6 ,#e9ecef ,#f8f9fa ;
*/

    --backgroundColor1: #212529 ;
	--backgroundColor2: #495057;
	--backgroundColor3: #343a40;
	--backgroundhighlighing:blueviolet;
	--textColor1: #ced4da;
	--textColor2: #343a40;



}