:root {
    /* --backgroundColor1: #11151C ;
	--backgroundColor2: #212D40;
	--textColor1: #364156;
	--textColor2: #b7c4cf; */

    --backgroundColor1: black ;
	--backgroundColor2: #7D7C7C;
	--backgroundhighlighing:#CCC8AA;
	--textColor1: #ffff;
	--textColor2: black;
}