@import "../../utils/default.css";


.footer_part{
    width: 100%;
    /* height: 20vh; */
   
  
    background-color: var(--backgroundColor1);
}
/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */
  body {
    background-color: var(--backgroundColor1);
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  a {
   
    color: var(--textColor2);
    text-decoration: none!important;
    
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background-color: var(--backgroundColor1);
  
  }
  
  .form-control:focus {
    background-color: var(--backgroundColor1);
  }
  
  footer {
    background-color: var(--backgroundColor1);
  
    color: var(--textColor2);
  }
  
  h5{
    
    color: var(--textColor3);
  }
  /* ==========================================
      CUSTOM UTILS CLASSES
    ========================================== */
    body, html {
      height: 100%;
      
    color: var(--textColor2)!important;
    }